{% extends ':Layout:layout.html.twig' %}

{% block content_title %}
    Users
{% endblock %}

{% block content_body %}
    <div class="box box-primary">
        <div class="box-header">
            List
            <div class="box-tools pull-right">
                <a href="{{ path('ansible_wui_user_add') }}" class="btn btn-flat btn-success">Add User</a>
            </div>
        </div>
        <div class="box-body">
            <table id="users" class="table table-bordered table-hover dataTable" role="grid" data-table="">
                <thead>
                <tr>
                    <th data-sort="true">ID</th>
                    <th data-sort="true">Username</th>
                    <th data-sort="true">Email</th>
                    <th data-sort="true" data-order="asc">Last name</th>
                    <th data-sort="true" data-order="asc">First name</th>
                    <th data-sort="true">Roles</th>
                    <th data-sort="true">Enable</th>
                    <th data-sort="true">Last login</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for entity in entities %}
                    <tr>
                        <td>{{ entity.id }}</td>
                        <td>{{ entity.username }}</td>
                        <td>{{ entity.email }}</td>
                        <td>{{ entity.lastname }}</td>
                        <td>{{ entity.firstname }}</td>
                        <td>{{ entity.roles|join(', ') }}</td>
                        <td>{{ entity.enabled ? 'Yes' : 'No' }}</td>
                        <td>{{ entity.lastLogin|date('d/m/Y') }}</td>
                        <td>
                            <div class="btn-group">
                                <a href="{{ path('ansible_wui_user_view', {'id': entity.id}) }}"
                                   class="btn btn-sm btn-flat btn-info">
                                    <i class="fa fa-eye"></i>
                                </a>
                                <a href="{{ path('ansible_wui_user_edit', {'id': entity.id}) }}"
                                   class="btn btn-sm btn-flat btn-warning">
                                    <i class="fa fa-pencil"></i>
                                </a>
                                {% if entity != app.user %}
                                    <a href="{{ path('ansible_wui_user_delete', {'id': entity.id}) }}"
                                       class="btn btn-sm btn-flat btn-danger">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                {% endif %}
                            </div>

                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}