{% extends ':Layout:layout.html.twig' %}

{% block content_title %}
    Profile
{% endblock %}

{% block content_body %}
    <div class="box box-primary">
        <div class="box-body">
            {{ form_start(form) }}
            {{ form_row(form.username) }}
            {{ form_row(form.email) }}
            {{ form_row(form.lastname) }}
            {{ form_row(form.firstname) }}
            {{ form_row(form.enablaed) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
